<div style="padding:20px;">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                Lesson
            </th>
            <th>
                Mark
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mark in marks">
            <td>
                {{ mark.subject.name }}
            </td>
            <td>
                {{ mark.mark }}
            </td>
            <td>
                <span class="btn btn-xs btn-danger" ng-click="removeScore(mark)">Delete</span>
            </td>
        </tr>
        </tbody>
    </table>

    <form ng-if="marks.length < 3"
          ng-submit="create()" class="form" style="padding:20px;">
        <h3>Add Score</h3>
        <div class="form-group">
            <label>Subject</label>
            <select class="form-control"
                    ng-model="mark.subject"
                    ng-options="subject as subject.name for subject in subjects">
            </select>
        </div>

        <div class="form-group">
            <label>Mark</label>
            <input
                    type="number"
                    class="form-control"
                    ng-model="mark.mark"
                    placeholder="mark"
                    min="1"
                    max="200"
                    />
        </div>

        <div class="form-group">
            <button class="btn btn-success"
                style="width: 100%">
                Add
            </button>
        </div>
    </form>
</div>